# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.venv
venv/
ENV/

# Temporary and Large Archives
*.tar.gz
*.zip
*.log
~$*.xlsx

# Local Outputs (Keep reports, ignore bulky dynamic temp screenshots in repo)
outputs/screenshots/*.png
outputs/temp/
.tempmediaStorage/
